/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

input {
    border: 1px solid #cccccc; 
    padding: 5px;
    background: white;
    margin: 0 0 10px 0;
}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
background-color: #D1D3D4;
}


/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: black;}

a {color: #ffffff; text-decoration: none; font-weight: 800; }
a:hover {color: #E3F277;}

h1 {
font-size:45px;
font-family: "Sanchez", Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}



h2 {
font-size: 16px;
font-family: "Sanchez",Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
margin-bottom: 10px;
}


/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/* Top Bar */
.topbar {

    font-size: 11px;
    background: black;
    text-transform: uppercase;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
    padding: 10px 0px;
    padding-top: 20px;
}
.topbar a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #F7941E;
    display: inline-block;
    text-decoration: none;
}
.topbar a:hover {
    opacity: .75;
}
.topbar span.right{
    float: right;
    margin-right: 20px;
    display: inline;
}
.topbar span.right a{
    float: left;
    display: block;
}


/* Top Bar */



.wrapper {
position: relative;
margin: 0px auto;
width: 650px;
padding-top: 20px;
min-height: 100%;
}

@-moz-document url-prefix() {
     .wrapper {width:700px;}
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.content {
position: relative;
width: 100%;
height: 100%;
padding-top:0px;
}

/*
.left {
position: relative;
width: 40%;
float: left;
}
*/


.inner {
	z-index: 50;
	margin-top: 20px;
	margin-left: 68px;
	padding: 20px 20px 30px 20px;
	text-align: center;
	background-color: #F7941E;
	width: 445px;
	color: white;
}


#rect {
display: none;
}


.tagline {
z-index: 20;
position: relative;
margin-top: 115px;
margin-left: 35px;
}

.tagline h1 {
background-color: #4FB2C9;
padding: 5px 20px 0px;
line-height: 55px;
margin: 5px 0px;
color: white;
display: inline-block;
clear: both;
text-align: center;
}

#twit {

margin-left: 70px;
margin-top: 20px;
}

@-moz-document url-prefix() {
#twit {
margin-left: 10px;
margin-top: 10px;
}

.inner {
margin-left: 60px;
}
}

.twtr-hd, .twtr-ft
{
display: none;
}
.twtr-widget .twtr-tweet {
border:none!important;
text-align:left;
font-family: Tahoma, Geneva, sans-serif;
font-size:16px;
}

.twtr-timeline {
z-index: 5;
padding: 20px 25px;
border: none;

}

#toptag {
padding-left: 40px;
}

@-moz-document url-prefix() {
     #toptag {padding-left: 38px;}
     .tagline {margin-left: 51px;}
     #twit {margin-left: 50px;}
}

#bottomtag {
padding-left: 10px;
}

 /* 
.right {
position: relative;
float: right;
width: 60%;
}


.tempvideo {
background-color: #566271;
width: 100%;
height: 175px;
position: relative;
text-align: center;
padding-top: 150px;
color: white;
}

*/



footer {
font-size: 12px;
background-color: #F7941E;
color: white;
position: absolute;
width: 100%;
text-align: center;
height: 50px;
padding-top: 10px;
}


@-moz-document url-prefix() {
     #email {margin-left: 65px;}
}

.signup email {
border: 0px;
}

input#mce-EMAIL.email{
float: left;
margin-left: 90px;
}
	
input#mc-embedded-subscribe.button{
background: white;
color: #F7941E;
border: 0px;
font-size: 12px;
margin-left: -80px;
}

input#mc-embedded-subscribe.button:hover{
background: #F7941E;
color: white;
border: 1px solid white;
}

@-moz-document url-prefix() {
	input#mc-embedded-subscribe.button{margin-left: -105px;}
     h1 {font-weight: 300;}
     h2 {font-weight: 300;}
}

button.join:active {
background: #E0E77B;
}

.sm {
float: left;
margin-left: 110px;
}

.sm a {
margin-top: 100px;
}

.vertical {
border-left:thin solid white;
height: 55px;
float: left;
margin: 20px 20px

}



@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}





/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */

@media screen (min-width: 320px) and (max-width: 480px) and (max-device-width: 320px) {

	.wrapper {
		width: 100%;
		float: none;
		margin: 0;
	}
	
	.content {
		width: auto;
		float: none;
		margin: 20px 0;
	}

	.description {
		width: auto;
		float: none;
		margin: -280px 30px;
		text-align: left;
		
	}
	
	.tagline {
		width: auto;
		float: none;
		margin: 20px 0;
	}
	
	.signup{
		width: auto;
		margin-left: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#email {
	margin-left: 10px;
	margin-top: 10px;
}
	
	#circle {
		display: none;
	}
	#circle2 {
		display: none;
	}
	
	#twit{
	margin-left: 0px;
	background-color: white;
	}
	
	.twtr-widget .twtr-tweet {
		font-size:14px;
		}

	.twtr-timeline {
		padding: 10px 25px;
		border: none;
		background-color: none;
		
		}
	
	
	.inner {
		width: auto;
		padding: 20px 20px;
		margin-left: 0px;
		margin-top: -15px;
	}
	
	.description {
		display: none;
	}
	
	#toptag {
		padding-left: 0px;
		margin-top: 75px;
	}

	@-moz-document url-prefix() {
    	 #toptag {padding-left: 0x;}
	}

	#bottomtag {
	padding-left: 0px;
	}
	
	html {
	font size: 14px;
	}

	h1 {
		font-size:25px;
		font-family: "Sanchez", Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	}
	
	h2 {
		font-size: 16px;
		font-family: "Sanchez",Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

	input#mc-embedded-subscribe.button {
		width: 100%;
		height: 50px;
		margin-left: 0px;
		
	}
	
	input#mce-EMAIL.email{
		margin-bottom: 5px;
		width: 97%;
		margin-left: 0px;
	}

}